<html lang="en">
<%- include("./partials/head.ejs") %>

<body onload="callAjax()">
  <%- include("./partials/nav.ejs") %>

  <span>Create new post</span>
  <div class="create-blog content">
    <form onsubmit="return false;">
      <label for="title">Blog title:</label>
      <input type="text" id="title" name="title" required>
      <label for="snippet">Blog snippet:</label>
      <input type="text" id="snippet" name="snippet" required>
      <label for="body">Blog body:</label>
      <textarea id="body" name="body" required></textarea>
      <button onclick="sendBlog()">Submit</button>
    </form>
  </div>

  <div class="blogs content">
    <h2>All Blogs</h2>

    <p id="table">

    </p>
    <!-- <% if (blogs.length > 0) { %>
      <% blogs.forEach(blog => { %>
        <a class="single" href="/blogs/<%= blog._id %>">
          <h3 class="title"><%= blog.title %></h3>
          <p class="snippet"><%= blog.snippet %></p>
        </a>
      <% }) %> 
    <% } else { %>
      <p>There are no blogs to display...</p>
    <% } %> -->
    
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>